# MongoDB
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/?appName=Cluster0
MONGO_DB_NAME=neurosphere

# Groq LLM
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxx

# Qdrant
QDRANT_URL=https://xxxx.qdrant.io
QDRANT_API_KEY=your_qdrant_api_key
QDRANT_COLLECTION=neurosphere_vectors

# Auth
JWT_SECRET=your_super_secret_key_here

# AWS S3
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=us-east-1
S3_BUCKET_NAME=your_bucket_name

# App
APP_ENV=production
DEBUG=False
LOG_LEVEL=INFO
